{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block monTitre %}Animal {{animal.nom}}{% endblock %}
{% block body %} 
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-1">
            <img src="{{asset('images/' ~ animal.image)}}" class="img-fluid rounded-start" alt="card image">
        </div>
        <div class="col-md-3">
            <div class="card-body">
                <h2 class="card-title">{{animal.nom}}</h2>
                <p>Description : {{animal.description}}</p>
                <p>Poids : {{animal.poids}} kg</p>
                <p>Dangereux : 
                {% if animal.dangereux %}
                    <span class="badge bg-danger">
                        Oui
                    </span>
                {% else %}
                    <span class="badge bg-success">
                        No
                    </span>
                {% endif %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
