{% extends 'base.html.twig' %}

{% block title %}Page d'accueil - Animaux{% endblock %}

{% block monTitre %}La liste des animaux{% endblock %}
{% block body %}
    <div class="container">
        <div class="row no-gutters">
            {% for animal in animaux %}
                <div class="col-12 col-lg-6 p-1">
                    <div class="card mb-3">
                        <div class="row no-gutters align-items-center p-2">
                            <div class="col-4 col-md-4">
                                <img src="{{asset('images/' ~ animal.image)}}" class="img-fluid">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h3 class="card-title"><a href="{{path('afficherAnimal', {'id': animal.id})}}">{{animal.nom}}</a></h3>
                                    <p>Description : {{animal.description}}</p>
                                    <a href="{{path('afficherAnimal', {'id': animal.id})}}" class="btn btn-primary d-inline-block">Details</a>
                                    <a href="{{path('afficherFamille', {'id': animal.famille.id})}}" class="btn btn-success">{{animal.famille.libelle}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="my-3 mx-1">
                            {% for continent in animal.continents %}
                                <a href="{{path('afficherContinent', {'id': continent.id})}}" class="btn btn-warning">{{continent.libelle}}</a>
                            {% endfor %}
                        </div>
                        <div class="row mb-2">
                            <a href="" class="col-4 btn btn-warning mx-3">Modifier</a>
                            <a href="" class="col-4 btn btn-danger">Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
