{% extends 'base.html.twig' %}

{% block title %}Gestion des personnes{% endblock %}

{% block monTitre %}Gestion des personnes{% endblock %}
{% block body %}
    <a href="{{path('adminCreatPersonne')}}" class="btn btn-primary">Ajouter Personne</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Animaux</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
            {% for personne in personnes %}
                <tr>
                    <td>{{personne.nom}}</td>
                    <td>
                        {% for element in personne.disposes %}
                            {{((element.animal.nom)~"\n")|nl2br}}
                        {% endfor %}
                        {# {{ dump(animal.disposes) }} #}
                    </td>
                    <td><a href="{{path('adminModifPersonne', {'id': personne.id})}}" class="btn btn-outline-warning">Modifier</a></td>
                    <td>
                        <form action="{{path('adminSuppPersonne', {'id': personne.id})}}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ personne.id)}}">
                            <input type="submit" value="Supprimer" class="btn btn-outline-danger">
                        </form>
                    </td>
                </tr>
            {% endfor %}
		</tbody>
	</table>
{% endblock %}
