{% extends 'base.html.twig' %}

{% block title %}Gestion des continents{% endblock %}

{% block monTitre %}Gestion des continents{% endblock %}
{% block body %}
    <a href="{{path('adminCreatContinent')}}" class="btn btn-primary ms-2">Ajouter Continent</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Libelle</th>
				<th scope="col">Animaux</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
            {% for continent in continents %}
                <tr>
                    <td>{{continent.libelle}}</td>
                    <td>
                        {% for animal in continent.animaux %}
                            {{((animal.nom)~"\n")|nl2br}}
                        {% endfor %}
                    </td>
                    <td>
                        <div class="d-flex justify-content-start">
                            <a href="{{path('adminModifContinent', {'id': continent.id})}}" class="btn btn-outline-warning me-2">Modifier</a>
                            <form action="{{path('adminSuppContinent', {'id': continent.id})}}" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ continent.id)}}">
                                <input type="submit" class="btn btn-outline-danger" value="Supprimer">
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
		</tbody>
	</table>
{% endblock %}
