{% extends 'base.html.twig' %}

{% block title %}Continents{% endblock %}

{% block monTitre %}Continent : {{continent.libelle}}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        {% for animal in continent.animaux %}
            <div class="col-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-12 cold-md-6 col-lg-2 text-center">
                        <img src="{{asset('images/animaux/' ~ animal.image)}}" class="img-fluid">
                    </div>
                    <div class="col text-center">
                        <h2><a href="{{path('afficherAnimal',{'id' : animal.id})}}">{{ animal.nom }}</a></h2>
                        <div>{{ animal.description }}</div>
                        <div class="mb-2"><a href="{{path('afficherFamille',{'id':animal.famille.id})}}" class="btn btn-primary">{{ animal.famille.libelle }}</a></div>
                        <div>
                            {% for continentAnimal in animal.continents %}
                                {% if continentAnimal.id != continent.id %}
                                    <a href="{{path('afficherContinent',{'id':continentAnimal.id})}}" class="btn btn-warning">{{ continentAnimal.libelle }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
